:root {
    --main-background: #2E2E2E;
    --white: #FFFFFF;
    --grey: #CCCCCC;
    --blue: #3498DB;
    --orange: #FF6347;
    --orange2: #FF5733;
    --black: #FF6347;
    --black2: #4C4C4C;
    --yellow: #FFD700;
    --yellow2:#FFD700;
    --green: #32CD32;
    --red: #E74C3C;
  }

body{
    /* background-color: #1b1a1a; */
    background-color: var(--main-background);
}
.shadow
{
    margin: 20px 0;
    padding: 20px;
    border-radius: 30px;
    color: aliceblue;
    box-shadow: 10px 10px 37px 0px rgba(255, 255, 255, 0.75) !important;
}
.total-fatality
{
    color: var(--red);
}
.slight-injury
{
    color: var(--yellow);
}
.seroius-injury
{
    color: var(--orange);
}
.fatal-injury
{
    color: var(--red);
}